body{
    margin: 50px;
}

.container{
    /* margin-top: 70px;
    margin-left: 150px; */
    display: flex;
    justify-content: center;
    align-items: s;
    border: 2px;
    border-style: dotted;
}
.card{
    /* flex: auto; */
    margin: 20px;
}